.anchor {
    -fx-background-position: center;
    -fx-background-color: #BDBDBD;
    -fx-background-repeat: stretch;
    -fx-background-image:url('tlo2.jpg');
    -fx-background-size: 100% 100%;
}

#gas_pedal{
	-fx-graphic:url('pedal_extra.png');
	-fx-background-color: #982021;
}
#brake_pedal{
	-fx-graphic:url('brake_pedal.png');
	-fx-background-color: #982021;
}